.loader {
    height: 50px;
    width: 50px;
    background: linear-gradient(to right, red, rgb(0, 128, 122)   );
    border-radius: 50%;
    margin: auto;
    animation-name: spin;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loaderInercircle {
    background-color: white;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

@keyframes spin {
    
    100% {transform: rotate(360deg)};
}